.videoCard {
    width: 270px;
    margin-bottom: 40px;

    .videoCard__thumbnail {
        height: 140px;
        width: 250px;
    }

    .videoCard__info {
        display: flex;
        margin-top: 10px;
        padding-right: 30px;
    }

    .videoCard__avatar {
        margin-right: 15px !important;
        height: 30px !important;
        width: 30px !important;

    }

    .videoCard__text>h4 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .videoCard__text>p {
        font-size: 14px;
        color: gray;
    }
}